@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Red Rose', cursive;
}

body.active{
    overflow-y: hidden;
}

.Header{
    margin: 2.99% 6.94% 0 6.94%;

    .Navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .logo{
            width: 16.18vw;
        }

        .exit{
            display: none;
        }

        ul{
            list-style: none;
            display: flex;
            gap: 48px;
            align-items: flex-start;
            padding: 0;

            a{
                text-decoration: none;
                color: #434343;
                font-size: 1.39vw;
                font-weight: 400;
                line-height: 24.98px;
            }

            .btnt{
                display: none;
            }
        }

        .btn{
            width: 11.81vw;
            height: 48px;
            border-radius: 10px;
            background: #A02279;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.11vw;
            font-weight: 400;
            line-height: 19.9px;
            color: #fff;
            cursor: pointer;

            &:hover{
                background: #e63cb0;
            }
        }

        .media_nav{
            display: none;
        }
    }

    .modal, .fixed_modal {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .fixed_modal{
            background: rgba(64, 64, 64, 0.3);;
        }

        .content{
            background: #fff;
            position: absolute;
            top: 247px;
            left: 27%;
            width: 600px;
            border-radius: 16px;

            .connect{
                display: flex;
                justify-content: space-between;
                padding: 24px 32px;
                border-bottom: 1px solid #CFD8DC;

                h3{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 30px;
                }
            }

            .para{
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                margin: 32px 0 16px 32px ;
            }

            .wallet{
                .wallet_img{
                    display: flex;
                    align-items: center;

                    p{
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 23px;
                        padding-left: 16px;
                    }
                }
                display: flex;
                justify-content: space-between;
                border: 1px solid #CFD8DC;
                padding: 12px 20px;
                border-radius: 12px;
                margin: 16px 32px;

                &:hover{
                    background: #F8F9FA;
                }
            }
        }
    }
}

.HeaderSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    gap: 6.88%;
    margin: 8.67% 8.26% 4.65% 6.94%;

    .sales{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        gap: 48px;
        width: 44.86vw;

        h1{
            font-style: normal;
            font-weight: 400;
            font-size: 3.89vw;
            letter-spacing: -0.02em;
            color: #434343;

            span{
                color:#A02279;
                font-weight: 500;
            }
        }

        p{
            font-family: 'Red Rose';
            font-style: normal;
            font-weight: 400;
            font-size: 1.67vw;
            line-height: 35px;
            color: #434343;
        }

        div{
            width: 618.71px;
            height: 54.08px;

            input{
                background: rgba(247, 247, 247, 0.1);
                border: 1px solid #A3A3A3;
                border-radius: 8px 0px 0px 8px;
                box-sizing: border-box;
                width: 27.08vw;
                height: 54px;
            }

            ::placeholder{
                font-Weight: 400;
                font-Size: 14px;
                line-height: 18.2px;
                padding-left: 15px;
            }

            span{
                background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
                border-radius: 0px 8px 8px 0px;
                width: 15.97vw;
                height: 54px;
                display:inline-flex;
                align-items: center;
                justify-content: center;

                a{
                    text-decoration: none;
                    color: #fff;
                    line-height: 19px;
                }
            }
        }
    }

    .sales_img{
        img{
            width: 33.06vw;
        }
    }
}

.Main{

    .main_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 100px;
        background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
    }

    h2{
        margin: 58px 0 43px 0;
        text-align: center;
        font-size: 3.33vw;
        font-weight: 700;
        line-height: 59.95px;
    }

    .main_img{
        margin: 0 6.94%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.67vw;

        .img_card{
            border: 1px solid #D7D7D7;
            border-radius: 15px;
            padding: 1.11vw;
            //width: 20.28vw;

            .frame{
                width: 18.06vw;
            }

            .span_div{
                display: flex;
                justify-content: space-between;
                margin: 5px 0;

                span{
                    font-size: 12px;
                    font-weight: 400;
                    color: #434343;
                }

                .spant{
                    font-weight: 700;
                }
            }

            .rating{
                display: flex;
                gap: 8px;
            }
        }
    }

    section{
        display: flex;
        align-items: center;
        background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
        margin-top: 53px;
        column-gap: 9.03vw;

        div{
            padding-left: 6.94vw;

            h2{
                font-weight: 700;
                font-size: 3.33vw;
                line-height: 60px;
                color: #fff;
                text-align: start;
            }

            p{
                font-weight: 400;
                font-size: 1.25vw;
                line-height: 35px;
                color: #fff;
            }

            span{
                width: 156px;
                height: 48px;
                border-radius: 8px;
                background: #fff;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-top: 57.55px;

                a{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #A02279;
                    text-decoration: none;
                }
            }
        }

        img{
            padding: 100px 6.88vw 99.15px 0;
            width: 48.89vw;
        }
    }
}

.PlaceToStay{
    margin: 115px 100px 92px 100px;

    .place{
        margin-bottom: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            list-style: none;
            display: flex;
            gap: 3.33vw;
            align-items: flex-start;
            padding: 0;

            a{
                text-decoration: none;
                color: #434343;
                font-size: 1.39vw;
                font-weight: 400;
                line-height: 24.98px;
            }
        }

        .bolt{
            width: 11.18vw;
            height: 48px;
            border-radius: 8px;
            border: 1px solid #B4B4B4;
            display: flex;
            align-items: center;
            justify-content: space-around;

            a{
                text-decoration: none;
                color: #434343;
                font-size: 1.39vw;
                font-weight: 400;
                line-height: 24.98px;
            }
        }
    }

    .main_img{
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.67vw;

        .img_card{
            border: 1px solid #D7D7D7;
            border-radius: 15px;
            padding: 1.11vw;

            .frame{
                width: 18.06vw;
            }

            .span_div{
                display: flex;
                justify-content: space-between;
                margin: 5px 0;

                span{
                    font-size: 12px;
                    font-weight: 400;
                    color: #434343;
                }

                .spant{
                    font-weight: 700;
                }
            }

            .rating{
                display: flex;
                gap: 8px;
            }
        }
    }
}

.Footer{
    background: #1D1D1E;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 58px 7.85vw 37px 7.85vw;
    grid-gap: 10.42vw;

    .footer_logo{
        .foot_logo{
            padding-bottom: 99.56px;
        }

        div{
            padding-bottom: 68.24px;
           
            img{
                padding-right: 20px;
                transition: 0.3s;

                &:hover{
                    filter: invert(15%) sepia(46%) saturate(5635%) hue-rotate(304deg) brightness(96%) contrast(85%);
                }
            }
        }

        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #fff;
        }
    }

    .footer_drop{
        .footer_icon{
            font-weight: 700;
            font-size: 18px;
            padding-bottom: 22px;
            color: #fff;
            cursor: pointer;
        }

        .portal{
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 35px;
                transition: 0.4s;
                
                a{
                    color: #F1F3F9;
                    text-decoration: none;
                    transition: 0.4s;

                    &:hover{
                        color: #A02279;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1000px) {

    .Header{
        .Navigation{
        
            .logo{
                width: 200px;
                height: 36.67px;
                margin-bottom: 10px;
            }
    
           .trans{
                position: fixed;
                transform: translatex(100%);
                transition: 0.4s;
                height: 65vh;
                width: 25%;
                top: 0;
                right: 0;
                background: rgb(160, 34, 121);
                z-index: 10;
                border-radius: 50px 0 50px 0;

                .exit{
                    display: block;
                    width: 18px;
                    height: 18px;
                    float: right;
                    padding: 20px 10px;
                    transition: 0.4s;

                    &:hover{
                        width: 20px;
                        height: 20px;
                    }
                }


                ul{
                    display: block;
                    padding-top: 80px;
                    

                    li{
                        padding:15px;

                        a{
                            color: #fff;
                            transition: 0.4s;
                            font-size: 20px;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }

                    .btnt{
                        display: block;
                        width: 120px;
                        height: 18px;
                        border-radius: 25px;
                        background: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 20px 0 0 10px;
                        color: #A02279;
                        font-size: 16px;
                    }
                }
           }

           .btnn{
            display: none;
           }

           .trans_back{
                transform: translate(0);
                transition: 0.4s;
            }

            .media_nav{
                display: block;

                &:hover{
                    filter: invert(36%) sepia(69%) saturate(1494%) hue-rotate(287deg) brightness(90%) contrast(99%);
                }
            }
        } 
        
        .modal, .fixed_modal {
    
            .content{
                top: 200px;
                left: 10%;
                right: 30%;
                width: 60%;
            }   
        }       
    }

    .Main{
        margin-top: 50px;

        .main_header{
            img{
                width: 150px;
            }
        }
    
        .main_img{
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 5vw;

            .img_card{
    
                .frame{
                    width: 37.5vw;
                }
            }
        }

        section{
            div{

                h2{
                    font-size: 3.5vw;
                    line-height: 30px;
                }
    
                p{
                    font-size: 1.7vw;
                    line-height: 30px;
                }

                span{
                    margin-top: 30px;
                }
            }

            img{
                width: 40.89vw;
            }
        }
    }

    .PlaceToStay{
        margin: 50px 30px;


        .main_img{
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 5vw;
            margin: 0 3.94vw;

            .img_card{
    
                .frame{
                    width: 37.5vw;
                }
            }
        }
    }

    .Footer{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 15vw;
       
        .footer_logo{
            .foot_logo{
                padding-bottom: 59.56px;
            }
    
            div{
                padding-bottom: 38.24px;
            }
        }
    }
}

@media screen and (max-width: 700px) {

    .Header{
        .Navigation{
           
            .btnn{
                display: flex;
                width: 140px;
                height: 38px;
                border-radius: 50px 50px 0 50px;
                transition: 0.4s;
                font-size: 14px;
            }

            .trans{
                height: 50vh;
                width: 40%;
                border-radius: 0;

                ul{
                    .btnt{
                        display: none;
                    }        
                }
            }
        }

        .modal, .fixed_modal {
    
            .content{
                top: 200px;
                left: 10%;
                right: 10%;
                width: 80%;
            }   
        }     
    }

    .HeaderSection{
        flex-direction: column-reverse;
        gap: 60px;
    
        .sales{
            width: 100%;
            h1{
                font-size: 5.89vw;
            }
    
            p{
                font-size: 2.9vw;
            }
    
            div{
                width: 100%;
    
                input{
                    width: 40vw;
                    height: 46px;

                }
    
                span{
                    width: 22vw;
                    height: 47px;

                }
            }
        }

        .sales_img{
            text-align: center;
            img{
                width: 70vw;
            }
        }
    }

    .Main{
        .main_header{
            padding: 10px 30px;

            img{
                width: 120px;
            }
        }
    
        h2{
            font-size: 4.33vw;

        }
    
        .main_img{
            margin: 0 13.49vw;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;

            .img_card{
                .frame{
                    width: 67.5vw;
                }
            }
        }
    
        section{
            flex-direction: column-reverse;
    
            div{
                padding: 0 7.85vw 7.85vw 7.85vw;

                h2{
                    font-size: 4vw;
                }

                p{
                    font-size: 2.3vw;
                }
    
                span{
                    margin-top: 40px;
                }
            }
    
            img{
                width: 70.89vw;
                padding: 7.85vw 7.85vw 0 7.85vw;
            }
         }
    }


    .PlaceToStay{

        .place{
           
            ul{
                display: none;
            }

            .bolt{
                width: 13.18vw;
                padding: 0 10px;

                a{
                    color: #434343;
                    font-size: 2.39vw;
                   
                }
            }
        }
       
        .main_img{
            margin: 0 13.49vw;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;

            .img_card{
                .frame{
                    width: 67.5vw;
                }
            }
        }
    }

    .Footer{
        grid-template-columns: repeat(1, 1fr);
       
        .footer_logo{
            grid-row: 4/5;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .foot_logo{
                padding-bottom: 0;
                width: 150px;
            }
    
            div{
                padding-bottom: 0;
                margin-top: 10px;
            }
    
            p{
                font-size: 18px;
            }
        }
    }
}